@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;700&display=swap");

.container {
  background: #e1f5fe;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Open Sans", sans-serif;
  border: 1px solid #1a237e;
  border-radius: 10px;
  h1 {
    font-weight: 300;
    font-size: 38px;
  }
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    input {
      border: 1px solid #1a237e;
      font-size: 24px;
      width: 25%;
      border-radius: 10px;
      margin: 15px;
      padding: 15px;
      height: 25px;
      text-align: center;
    }
    input[type="number"]::-webkit-outer-spin-button,
    input[type="number"]::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
    input[type="number"] {
      -moz-appearance: textfield;
    }
  }
  .buttons-wrapper {
    margin: 5rem 1rem 1rem 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    .btn {
      margin: 5%;
      cursor: pointer;
      font-size: 18px;
      padding: 1rem;
      color: #fff;
      border-radius: 10px;
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.07),
        0 4px 8px rgba(0, 0, 0, 0.07), 0 8px 16px rgba(0, 0, 0, 0.07),
        0 16px 32px rgba(0, 0, 0, 0.07), 0 32px 64px rgba(0, 0, 0, 0.07);
    }

    .btn-add {
      width: 70%;
      background: #76ff03;
      border-color: #004d40;
      color: #004d40;
      font-weight: 800;
    }

    .btn-add:hover {
      background: #004d40;
      color: #76ff03;
    }

    .btn-clear {
      width: 25%;
      background: #ff3d00;
      border-color: #dd2c00;
      color: #fbe9e7;
    }

    .btn-clear:hover {
      color: #ff3d00;
      background: #fbe9e7;
    }
  }

  .spinner-wrapper {
    display: flex;
    justify-content: center;
    .spinner {
      position: absolute;
      img {
        height: 5rem;
      }
    }
  }
}
